html, body {
  margin: 0;
  padding: 0;
}
canvas {
  display: block;
}

body {
  background-color: burlywood;
}

h1 {
color: coral;

}

h6 {
  color: rgb(97, 88, 85);
  font-size: large;
}

hr {
  color: darkgoldenrod;
  
}

